body
{
  background: linear-gradient( #734b6d, #42275a) no-repeat;
  height: 100vh;
  text-align: center;
  color: #fff;
}

h1
{
  text-decoration: underline;
}

a
{
  color: #734b6d;
  text-decoration: none;
  border: 1px solid #fff;
}
